srpc-ui/style.css
srpc-ui/index.js
srpc-ui/manifest.json
srpc-ui/settings.html
*.xml
demo.html
.env
QWEN.md
*.md
*.html
*.css
*.json
!tracker-card-templates/*
!settings.html
!prompts/*.md
!README.md
!style.css
regex/*
